/* header */
header
    nav
        .container
            .navbar-header
                .navbar-brand 
                    font: bold 18px "Helvetica Neue", Helvetica, Arial, sans-serif
            .active
                .navbar-brand
                    background-color: #e7e7e7
            .navbar-collapse
                form
                    .form-group 
                        .form-control
                            max-width: 130px
/* section */
section
    margin: 50px auto
    .container
        .hidden
            display: none
        h2 
            display: block
            margin: 0 0 45px
/* carousel_ */
.carousel_
    .container
        #carousel1
            .carousel-inner
                .carousel-caption 
                    background: rgba(0, 0, 0, 0.2)  
                    p 
                        font-size: 12px
/* tabs_ */
.tabs_
    .container
        .tab-content
            h3 
                margin: 40px auto
            img 
                margin: 20px auto
            p 
                margin: 40px 30px 0
/* contact */
.contact
    .container
        .form
            form
                .form-group
                    margin-bottom: 25px
                    label
                        margin-bottom: 15px
/* find_us */
.find_us
    margin-bottom: 0
    .container
        .panel
            .panel-body
                div
                    margin: 35px auto
                    line-height: 26px
                    img 
                        margin: 15px auto 
/* cookies */
.cookies 
    margin: 15px 0 35px
/* footer */ 
footer 
    padding: 5px
    line-height: 40px
    background-color: #f8f8f8
    color: #888888
    margin-bottom: 0